.addButton{
  position: fixed;
  bottom: 10%;
  right: 10%;
  z-index: 30;
  font-size: 40px;
  padding: 20px;
  width: 30px;
  height: 30px;
  background-color: cornflowerblue;
  color: snow;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  cursor: pointer;
  &:hover{
    background-color: skyblue;
  }
}