@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
a {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration-line: none;
  font-weight: bold;
  color: black;
  &:hover { color: blue; }
}

.header-wrapper {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: snow;
  .header-title{
    a {
      font-size: 40px;
      display: flex;
      align-items: center;
      font-family: 'Pacifico', cursive;
      img {
        width: 75px;
        height: 75px;
      }
    }
  }
  .header-menu{
    display: flex;
    flex-wrap: nowrap;
    a {
      font-size: 24px;
      font-family: 'Noto Sans KR', sans-serif;
      flex-shrink: 0;
      margin: 0 15px;
    }
  }
}